n8n/workflow_export.json
{
  "name": "GE Daily Stock Prediction Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekday Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [-900, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8000/predict",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "model", "value": "dense" }
          ]
        },
        "options": { "timeout": 60000 }
      },
      "id": "call-prediction-api",
      "name": "Call Prediction API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-660, -120]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8000/compare",
        "options": { "timeout": 60000 }
      },
      "id": "call-compare-api",
      "name": "Call Compare API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-660, 120]
    },
    {
      "parameters": {
        "jsCode": "const payload = $json;\nconst direction = payload.predicted_next_return_pct >= 0 ? '📈 상승 예상' : '📉 하락 예상';\nconst sign = payload.predicted_next_return_pct >= 0 ? '+' : '';\npayload.discord_message = [\n  '## 📊 GE Daily Prediction',\n  `> **기준일:** ${payload.last_market_date}`,\n  '',\n  `**현재 종가:** $${payload.current_close}`,\n  `**예측 다음 거래일 종가:** $${payload.predicted_next_close}`,\n  `**예상 수익률:** ${sign}${payload.predicted_next_return_pct}%  ${direction}`,\n  '',\n  `🔍 RSI(14): ${payload.rsi_14}  |  MACD: ${payload.macd}`,\n  `📉 변동성(20일): ${payload.volatility_20_pct}%  |  MA20: $${payload.ma_20}`,\n  '',\n  `🤖 모델: ${payload.model}`,\n  '-# ⚠️ 본 결과는 학습용 예측이며 투자 조언이 아닙니다.'\n].join('\\n');\nreturn [{ json: payload }];"
      },
      "id": "format-prediction-message",
      "name": "Format Prediction Message",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-420, -120]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1498150163187765391/tZfUNjwpLarm6SMUU4hwHwhLjHz0PaQA5AH9Kd9Jlais1yVtdU1p37kL_-9MWyMBXIg_",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "content", "value": "={{ $json.discord_message }}" }
          ]
        },
        "options": {}
      },
      "id": "send-prediction-discord",
      "name": "Send Prediction to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, -20]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://discord.com/api/webhooks/1498150163187765391/tZfUNjwpLarm6SMUU4hwHwhLjHz0PaQA5AH9Kd9Jlais1yVtdU1p37kL_-9MWyMBXIg_",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "content", "value": "={{ $json.discord_message }}" }
          ]
        },
        "options": {}
      },
      "id": "send-compare-discord",
      "name": "Send Compare to Discord",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-180, 220]
    }
  ],
  "connections": {
    "Weekday Schedule": {
      "main": [
        [
          { "node": "Call Prediction API", "type": "main", "index": 0 },
          { "node": "Call Compare API", "type": "main", "index": 0 }
        ]
      ]
    },
    "Call Prediction API": {
      "main": [
        [
          { "node": "Format Prediction Message", "type": "main", "index": 0 }
        ]
      ]
    },
    "Format Prediction Message": {
      "main": [
        [
          { "node": "Send Prediction to Discord", "type": "main", "index": 0 }
        ]
      ]
    },
    "Call Compare API": {
      "main": [
        [
          { "node": "Send Compare to Discord", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-27T02:48:00.000Z",
  "versionId": "ge-stock-prediction-service"
}
