n8n/workflow_export.json
{
  "name": "GE Daily Stock Prediction Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 22 * * 1-5"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekday Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -760,
        0
      ]
    },
    {
      "parameters": {
        "command": "cd C:\\Users\\kts64\\Documents\\ML\\ge-stock-prediction-service && python src\\predict.py --model dense"
      },
      "id": "run-prediction",
      "name": "Run GE Prediction Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        -520,
        0
      ]
    },
    {
      "parameters": {
        "jsCode": "const output = $json.stdout || '';\nconst firstBrace = output.indexOf('{');\nconst lastBrace = output.lastIndexOf('}');\nif (firstBrace === -1 || lastBrace === -1) {\n  throw new Error('Prediction JSON was not found in command output.');\n}\nconst payload = JSON.parse(output.slice(firstBrace, lastBrace + 1));\npayload.telegram_message = `[GE Daily Prediction]\\n기준일: ${payload.last_market_date}\\n현재 종가: $${payload.current_close}\\n예측 다음 거래일 종가: $${payload.predicted_next_close}\\n예상 수익률: ${payload.predicted_next_return_pct}%\\n모델: ${payload.model}\\n최근 20일 변동성: ${payload.volatility_20_pct}%\\n주의: 본 결과는 학습용 예측이며 투자 조언이 아닙니다.`;\nreturn [{ json: payload }];"
      },
      "id": "parse-prediction",
      "name": "Parse Prediction Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -280,
        0
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": "PUT_YOUR_GOOGLE_SHEET_ID_HERE",
        "sheetName": {
          "__rl": true,
          "value": "GE Predictions",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "generated_at_utc": "={{ $json.generated_at_utc }}",
            "last_market_date": "={{ $json.last_market_date }}",
            "ticker": "={{ $json.ticker }}",
            "model": "={{ $json.model }}",
            "current_close": "={{ $json.current_close }}",
            "predicted_next_close": "={{ $json.predicted_next_close }}",
            "predicted_next_return_pct": "={{ $json.predicted_next_return_pct }}",
            "rsi_14": "={{ $json.rsi_14 }}",
            "volatility_20_pct": "={{ $json.volatility_20_pct }}"
          }
        },
        "options": {}
      },
      "id": "append-google-sheets",
      "name": "Append To Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        -40,
        -100
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "PUT_CREDENTIAL_ID_HERE",
          "name": "Google Sheets account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "chatId": "PUT_TELEGRAM_CHAT_ID_HERE",
        "text": "={{ $json.telegram_message }}",
        "additionalFields": {}
      },
      "id": "send-telegram",
      "name": "Send Telegram Message",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -40,
        100
      ],
      "credentials": {
        "telegramApi": {
          "id": "PUT_CREDENTIAL_ID_HERE",
          "name": "Telegram Bot account"
        }
      },
      "disabled": true
    }
  ],
  "connections": {
    "Weekday Schedule": {
      "main": [
        [
          {
            "node": "Run GE Prediction Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Run GE Prediction Script": {
      "main": [
        [
          {
            "node": "Parse Prediction Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Prediction Result": {
      "main": [
        [
          {
            "node": "Append To Google Sheets",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Telegram Message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2026-04-26T07:16:00.000Z",
  "versionId": "ge-stock-prediction-service"
}
